.quote{
    width: 350px;
    height: 400px;
    position: relative;
    margin: 3rem 1rem 0rem 1rem;
}

.quote > div {
    border-radius: 10pt;
}

.text{
    width: 250px;
    height: 300px;
    color: white;
    background-color: var(--primary-color);
    box-shadow: rgba(17, 17, 26, 0.4) 0px 0px 16px;
}
.text p {
    width: 90%;
    margin: auto;
    padding-top: 1rem;
}

.author{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 80;
    width: 250px;
    height: 150px;
    background-color: black;
    display: grid;
    place-items: center;
    color: white;
    box-shadow: rgba(17, 17, 26, 0.4) 0px 0px 16px;
}
